body{
	font-family:"Clanderon";

}

header {
	font-family:"Clanderon";
	width: 100%;
	height: 883px;
	background: url(../img/desktop_back.png) no-repeat center center;
}

.nav-link{
	color:$primary-text;
}