header {
	width: 100%;
	height: 883px;
	background: url(../img/desktop_back.png) no-repeat center center;
}

.nav-link{
	justify-self: center;
	text-transform: uppercase;
	font-size: 27px;
	//line-height: 44px;
	color:$primary-text;
}

@media (max-width: $breakpoint-large) {
	.nav-link{
		font-size: 20px;
	}
}