<header>
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-expand-lg w-100 p-0">
                <div id="top_nav">
					<a class="nav-link" href="#">mister iasa 2020</a>
                    <a class="nav-link" href="#teaser">teaser</a>
					<a class="nav-link" href="#meeting">meeting</a>
                    <a class="nav-link" href="#">1st photoshoot</a>
					<!-- <a class="navbar-link" href="#"><img src="./img/logo.png" alt="logo"></a> -->
					<a class="nav-link" href="#">promo</a>
					<a class="nav-link" href="#">partners</a>
					<!-- <a class="nav-link" href="#">tickets</a> -->
                    <a class="icon" id="menu_expand">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav d-flex align-items-center justify-content-between w-100">
						<li class="nav-item">
							<a class="nav-link" href="#teaser">teaser</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#teaser">meeting</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#photo">1st photoshoot</a>
						</li>
						<li class="nav-item" id="mister">
							     <a class="navbar-link" href="#logo"><img src="./img/logo.png" alt="logo"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#promo">promo</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#partners">partners</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#tickets">tickets</a>
						</li>
						<!-- <li class="nav-item">
							<a class="nav-link" href="#about">about</a>
						</li> -->
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div id="peaky__blinders">
	    <img src="./img/desktop_back_m.png" alt="PEAKY BLINDERS">
	</div>
	<div id="man">
		    <img src="./img/big_man.png" alt="shadow">
    </div>
    <div class="leza">
       <div id="peaky_mob">
           <img src="img/mob_back.jpg" alt="">
       </div>
        <div id="lvl">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l1_1">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l1_2">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l1_3">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l2_1">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l2_2">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l2_3">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l3_1">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l3_2">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l3_3">  
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l4_1">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l4_2">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l4_3">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l5_1">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l6_1">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l7_1">
            <img src="./img/lezo.png" alt="лезвие" class="lezo" id="l8_1">
        </div>
        
    </div>
</header>
