<section id="meeting">    
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-head">meeting</h1>
        </div>
        <div class="row justify-content-center slider-contain">
        <section class="gallery-block grid-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="./img/7 (1).jpg">
                            <img class="img-fluid image scale-on-hover" src="./img/7 (1).jpg">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="./img/7 (2).jpg">
                            <img class="img-fluid image scale-on-hover" src="./img/7 (2).jpg">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="./img/7 (3).jpg">
                            <img class="img-fluid image scale-on-hover" src="./img/7 (3).jpg">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="./img/7 (4).jpg">
                            <img class="img-fluid image scale-on-hover" src="./img/7 (4).jpg">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="./img/7 (5).jpg">
                            <img class="img-fluid image scale-on-hover" src="./img/7 (5).jpg">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="./img/7 (6).jpg">
                            <img class="img-fluid image scale-on-hover" src="./img/7 (6).jpg">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="./img/7 (7).jpg">
                            <img class="img-fluid image scale-on-hover" src="./img/7 (7).jpg">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="./img/7 (8).jpg">
                            <img class="img-fluid image scale-on-hover" src="./img/7 (8).jpg">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="./img/7 (9).jpg">
                            <img class="img-fluid image scale-on-hover" src="./img/7 (9).jpg">
                        </a>
                    </div>
                </div>
            </div>
        </section>
            <div class="swiper-container" id="slider">
                <!-- Additional required wrapper -->
                
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="./img/7 (1).jpg" alt="чувак 1">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/7 (2).jpg" alt="чувак 2">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/7 (3).jpg" alt="чувак 3">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/7 (4).jpg" alt="чувак 4">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/7 (5).jpg" alt="чувак 5">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/7 (6).jpg" alt="чувак 6">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/7 (7).jpg" alt="чувак 7">
                    </div>
                    <div class="swiper-slide swiper-slide-active">
                        <img src="./img/7 (8).jpg" alt="чувак 8">
                    </div>  
                    <div class="swiper-slide">
                        <img src="./img/7 (9).jpg" alt="чувак 9">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev" id="prev"></div>
                <div class="swiper-button-next" id="next"></div>
            </div>
        </div>
    </div>
</section>    